{
  "env": {
    "dev": {
      "presets": [
          ["@babel/env", 
            {
            targets: {
                  ie: 11,
                  edge: 14,
                  firefox: 52,
                  chrome: 49,
                  safari: 10,
                  node: '6.11',
                }, 
            "modules": 'flase' 
          }
        ], 
          "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties", 
        "@babel/plugin-proposal-object-rest-spread", 
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    },
    "production": {
      "presets": [
          ["@babel/env", 
            {
            targets: {
                  ie: 11,
                  edge: 14,
                  firefox: 52,
                  chrome: 49,
                  safari: 10,
                  node: '6.11',
                }, 
            "modules": 'false' 
          }
        ], 
          "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties", 
        "@babel/plugin-proposal-object-rest-spread", 
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    },
    "npm": {
      "presets": [
          ["@babel/env", 
            {
            targets: {
                  ie: 11,
                  edge: 14,
                  firefox: 52,
                  chrome: 49,
                  safari: 10,
                  node: '6.11',
                }, 
            "modules": 'false' 
          }
        ], 
          "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties", 
        "@babel/plugin-proposal-object-rest-spread", 
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
          "babel-plugin-transform-require-ignore", {
              "extensions": [".scss", ".css"]
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
          ["@babel/env", 
            {
            targets: {
                  ie: 11,
                  edge: 14,
                  firefox: 52,
                  chrome: 49,
                  safari: 10,
                  node: '6.11',
                }, 
            "modules": 'commonjs' 
          }
        ], 
          "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties", 
        "@babel/plugin-proposal-object-rest-spread", 
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
          "babel-plugin-transform-require-ignore", {
              "extensions": [".scss", ".css"]
          }
        ]
      ]
    }
  }
}
